# Lab

Using the flights dataframe answer the following questions

1. When do the first and last flights leave each day?

2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

3. Which carrier has the worst `dep_delay`s? 

4. Which plane (`tailnum`) has the worst on-time record?

5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/msaricaumbc/DS_data/master/nyc_flights.csv'

flights = pd.read_csv(url)

In [2]:
# When do the first and last flights leave each day?

group_df = flights.groupby(["year", "month", "day"]).agg(
    first_flight = ('dep_time', 'min'), 
    last_flight= ('dep_time', 'max')
    )

group_df

                first_flight  last_flight
year month day
2013 1     1           517.0       2356.0
           2            42.0       2354.0
           3            32.0       2349.0
           4            25.0       2358.0
           5            14.0       2357.0
...                      ...          ...
     12    27            2.0       2351.0
           28            7.0       2358.0
           29            3.0       2400.0
           30            1.0       2356.0
           31           13.0       2356.0

[365 rows x 2 columns]

In [3]:
# When there is a missing value in dep_time then this is an indication of canceled flight. Find the number of cancelled flights for each (carrier, origin) combination.

def ifna(x):
    return x.isna().sum()

grouped_df = flights.groupby(["carrier", "origin"]).agg(
    Cancelled_Flight = ('dep_time', ifna)
    )

grouped_df

                Cancelled_Flight
carrier origin
9E      EWR                   68
        JFK                  807
        LGA                  169
AA      EWR                   99
        JFK                  141
        LGA                  396
AS      EWR                    2
B6      EWR                   74
        JFK                  315
        LGA                   77
DL      EWR                   39
        JFK                  100
        LGA                  210
EV      EWR                 2164
        JFK                   82
        LGA                  571
F9      LGA                    3
FL      LGA                   73
HA      JFK                    0
MQ      EWR                  168
        JFK                  327
        LGA                  739
OO      EWR                    0
        LGA                    3
UA      EWR                  435
        JFK                   44
        LGA                  207
US      EWR                   75
        JFK                   26
        LGA                  562
VX      EWR                   10
        JFK                   21
WN      EWR                  105
        LGA                   87
YV      LGA                   56

In [4]:
# Which carrier has the worst dep_delays?

dep_df = flights.groupby('carrier').agg(
    delay_time_mean = ('dep_delay', 'mean')
    )

dep_df['delay_time_mean'].idxmax()

'F9'

In [5]:
# Which plane (tailnum) has the worst on-time record?

ontime_df = flights.groupby('tailnum').agg(
    arr_delay_mean = ('arr_delay', 'mean')
    )

ontime_df['arr_delay_mean'].idxmax()

'N844MH'

In [6]:
# For each plane, count the number of flights before the first delay of greater than 1 hour.

def delay(x):
    return (x.cummax() < 60).sum()

flight_df = flights.groupby('tailnum').agg(delayed = ('dep_delay', delay))
flight_df

         delayed
tailnum
D942DN         0
N0EGMQ        47
N10156         9
N102UW        33
N103US        46
...          ...
N997DL        12
N998AT        14
N998DL         2
N999DN        19
N9EAMQ        26

[4043 rows x 1 columns]