# Week8 Homework
## Working with Strings

The data frame contains notes taken by staff members. Your task is to clean it up to make it usable for analysis. 

### Tasks
* Create start date, end date columns and populate the values (If notes don't include month or day use 1 for missing value) 

i.e: 
    
    - 2018 => 2018-01-01  
    - June 2021 => 2021-06-01  
    - 2020 => 2020-01-01

* Create phone number column (If notes don't include phone numbers, use None)
* Create a column `duration` showing difference between start & end dates in years as a whole number

Note: Choose one of the following datasets to work on based on your taste!

In [1]:
import pandas as pd
import re

In [2]:
spicy = 'https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/strings/hw_data_spicy.csv'
less_spicy = 'https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/strings/hw_data_less_spicy.csv'

In [3]:
df = pd.read_csv(less_spicy, index_col=0)

In [4]:
df

,email,notes
0,margaret41@santos.info,start July 1970/end 2013-06-17
1,donna16@jimenez.com,start 1971-02 end 04/10/2012
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010
4,jherrera@koch.com,start 1975/end 07/27/2018
...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020

In [5]:
start = []
end = []
phone = []

for _, i in df["notes"].iteritems():
    s1 = i.split("end ")
    sdate = s1[0].replace("start ", "")
    start.append(sdate)
    pattern = re.compile('[Pp](#|\/n|n)(:)?( )+')      ## pattern check for phone numbers
    if (pattern.search(s1[1])):
        matched = pattern.search(s1[1])
        s2 = s1[1].split(matched.group())
        end.append(s2[0])
        phone.append(s2[1])
    else:
        end.append(s1[1])
        phone.append(None)

In [6]:
df["start_date"] = start
df["end_date"] = end
df["phone"] = phone

In [7]:
df

,email,notes,start_date,end_date,phone
0,margaret41@santos.info,start July 1970/end 2013-06-17,July 1970/,2013-06-17,None
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-02,04/10/2012,None
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...,January 1977,12/20/2018,001-464-616-8819
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010,1986-02,February 2010,None
4,jherrera@koch.com,start 1975/end 07/27/2018,1975/,07/27/2018,None
...,...,...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,05/04/1988-,08/19/2018,None
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,1978-08-,2017-06-,1886569390
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,05/06/1984/,08/11/2021,None
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,2004-02-22,2018,709.702.0599x5879
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,1977-01-31,05/18/2020,None

In [8]:
def remove_sp_char(df):
    """
    method to remove special chars (/ and -) from dates
    """
    for key, value in df.iteritems():
        pattern= re.compile('(\/|-)$')
        if (pattern.search(value)):
            mo=pattern.search(value)
            df[key]= value[:value.rfind(mo.group())]

In [9]:
remove_sp_char(df.start_date)
remove_sp_char(df.end_date)

In [10]:
df['start_date_new'] = pd.to_datetime(df['start_date'])

In [11]:
df['end_date_new'] = pd.to_datetime(df['end_date'])

In [12]:
df

,email,notes,start_date,end_date,phone,start_date_new,end_date_new
0,margaret41@santos.info,start July 1970/end 2013-06-17,July 1970,2013-06-17,None,1970-07-01,2013-06-17
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-02,04/10/2012,None,1971-02-01,2012-04-10
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...,January 1977,12/20/2018,001-464-616-8819,1977-01-01,2018-12-20
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010,1986-02,February 2010,None,1986-02-01,2010-02-01
4,jherrera@koch.com,start 1975/end 07/27/2018,1975,07/27/2018,None,1975-01-01,2018-07-27
...,...,...,...,...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,05/04/1988,08/19/2018,None,1988-05-04,2018-08-19
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,1978-08,2017-06,1886569390,1978-08-01,2017-06-01
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,05/06/1984,08/11/2021,None,1984-05-06,2021-08-11
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,2004-02-22,2018,709.702.0599x5879,2004-02-22,2018-01-01
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,1977-01-31,05/18/2020,None,1977-01-31,2020-05-18

In [13]:
df["duration_year"]= (df["end_date_new"].dt.year-df["start_date_new"].dt.year)

In [14]:
df

,email,notes,start_date,end_date,phone,start_date_new,end_date_new,duration_year
0,margaret41@santos.info,start July 1970/end 2013-06-17,July 1970,2013-06-17,None,1970-07-01,2013-06-17,43
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-02,04/10/2012,None,1971-02-01,2012-04-10,41
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...,January 1977,12/20/2018,001-464-616-8819,1977-01-01,2018-12-20,41
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010,1986-02,February 2010,None,1986-02-01,2010-02-01,24
4,jherrera@koch.com,start 1975/end 07/27/2018,1975,07/27/2018,None,1975-01-01,2018-07-27,43
...,...,...,...,...,...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,05/04/1988,08/19/2018,None,1988-05-04,2018-08-19,30
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,1978-08,2017-06,1886569390,1978-08-01,2017-06-01,39
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,05/06/1984,08/11/2021,None,1984-05-06,2021-08-11,37
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,2004-02-22,2018,709.702.0599x5879,2004-02-22,2018-01-01,14
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,1977-01-31,05/18/2020,None,1977-01-31,2020-05-18,43